@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4">Welcome @User.Identity.Name</h1>
<a class="btn btn-primary" asp-controller="Notes">Go To Notes </a>
