@model Notespace.Web.Models.Note
<h1 class="display-6">Edit Note</h1>
<hr />
<div class="row" style="height: 90%">
    <div>
        <form asp-action="EditPage" style="height: 100%">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NotebookID" />
            <input type="hidden" asp-for="NoteID" />
            <input type="hidden" asp-for="Order" />
            <input type="hidden" asp-for="IsPublic" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group" style="height:80%">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control" style="height: 100%"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 40px;">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.NotebookID" asp-route-pageId="@Model.Order">Back to Notebook</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
