body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #3b9c50;
}

.login_background {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.notespace_gradient {
    background: linear-gradient(45deg, #466EAB, #3b9c50) !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.circle {
    width: 100vw;
    height: 100vh;
    border-radius: 50%;
    z-index: 1;
}

.top_left {
    position: absolute;
    height: 100vh;
    width: 100vh;
    right: 50vw;
    top: -50vh;
    /* IE 9 */
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.bottom_right {
    position: absolute;
    height: 140vh;
    width: 140vh;
    left: 50vw;
    top: 30vh;
    /* IE 9 */
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

.login .main_container {
    background: #F5F5F5;
    width: 100vw;
    max-width: 1080px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.16);
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.login .register {
    display: inline-block !important;
    width: initial;
}

.login .inner_container {
    background: white;
    margin: 40px 70px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 49px 43px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
}

.login .header_logo {
    display: none;
    width: 70%;
    margin-bottom: 25px;
}

.login .title {
    margin: 0;
    font-weight: 400;
    letter-spacing: 2px;
}

.login .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 50%;
    margin-top: 8%;
    -webkit-transform-origin: center;
    transform-origin: center;
    margin-right: 40px;
}

.login .error_text {
    color: #ce1b1b;
}

.login input {
    width: 293px;
    height: 58px;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 25px;
    background: #F5F5F5;
    padding-left: 10px;
    border: 0;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
}

.login button {
    width: 298px;
    height: 58px;
    background: #466EAB;
    margin-top: 20px;
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
}

.navigation {
    -webkit-box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.38);
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.38);
}

    .navigation .active {
        background: rgba(70, 110, 171, 0.6) !important;
    }

    .navigation .logo {
        margin: auto;
    }

    .navigation .btn {
        width: 86%;
        background: rgba(33, 68, 104, 0.6) !important;
        color: white;
        bottom: 10px;
        position: absolute;
        -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
        font-weight: 500;
    }

.navbar {
    display: none;
}

    .navbar .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar button {
        margin: .5rem .5rem .5rem !important;
    }

    .navbar img {
        margin: .5rem .5rem .5rem !important;
        margin-left: .5rem !important;
    }

    .navbar ul {
        padding-left: 10px;
    }

    .navbar li {
        padding-left: 15px;
    }

    .navbar a {
        color: white !important;
    }

.main {
    background: white;
    margin: 20px 30px;
    width: 90vw;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    overflow-y: scroll;
    max-height: 95vh !important;
}

    .main .btn {
        margin-right: 10px;
    }

    .main .public .public_container {
        width: 50%;
        max-height: 50vh;
        height: 50vh;
        overflow-y: scroll;
        text-align: center;
        background: #F5F5F5;
        -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    }

        .main .public .public_container h2 {
            padding-bottom: 5px;
            border-bottom: 1px solid lightgray;
        }

    .main .public .margin-fix {
        margin-left: 20px;
    }

    .main .banner {
        color: white;
        padding: 8%;
        margin-bottom: 25px;
        -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    }

        .main .banner a {
            color: white !important;
        }

        .main .banner h1 {
            text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
        }

        .main .banner i {
            font-size: 2rem;
        }

.markdown_main {
    margin-top: 20px;
    height: 93%;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #F5F5F5;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    color: #24292e;
    font-size: 1.1em;
    line-height: 1.7em;
}

    .markdown_main h1 {
        margin-bottom: 5px !important;
        padding-bottom: 5px !important;
        font-weight: 300 !important;
        border-bottom: 1px solid lightgray !important;
    }

    .markdown_main h2 {
        margin-bottom: 10px !important;
        padding-bottom: 5px !important;
        font-weight: 300 !important;
        margin-top: 20px;
        border-bottom: 1px solid lightgray !important;
    }

    .markdown_main h3 {
        margin-bottom: 5px !important;
        padding-bottom: 5px !important;
        font-weight: 300 !important;
    }

    .markdown_main h4 {
        margin-bottom: 5px !important;
        padding-bottom: 5px !important;
        font-weight: 300 !important;
    }

    .markdown_main h5 {
        margin-bottom: 5px !important;
        padding-bottom: 5px !important;
        font-weight: 300 !important;
    }

    .markdown_main h6 {
        margin-bottom: 5px !important;
        padding-bottom: 5px !important;
        font-weight: 300 !important;
    }

    .markdown_main a {
        -webkit-text-decoration-line: none !important;
        text-decoration-line: none !important;
        color: #3b9c50 !important;
    }

    .markdown_main blockquote {
        background: #F5F5F5;
        border-left: 4px solid lightgray;
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .markdown_main p {
        margin-bottom: 10px;
    }

    .markdown_main ul {
        margin: 0px !important;
    }

    .markdown_main ol {
        margin: 0px !important;
    }

    .markdown_main li + li {
        margin-top: .25em !important;
    }

    .markdown_main img {
        max-width: 100% !important;
    }

    .markdown_main code {
        background: #F5F5F5;
        padding: 5px;
        color: #466EAB;
    }

    .markdown_main pre {
        background: #F5F5F5;
        padding: 10px;
        line-height: 22px;
    }

.notes {
    padding-top: 15px;
}

.note_button {
    background: #F5F5F5;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    margin-top: 25px;
    color: black;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block !important;
    width: 100%;
    text-align: left;
}

    .note_button i {
        color: #466EAB;
    }

    .note_button span {
        font-size: 1rem;
        color: grey;
    }

.icon-red {
    color: #D48B8B !important;
}

.icon-blue {
    color: #8BA8D4 !important;
}

.icon-green {
    color: #8BD48D !important;
}

.icon-yellow {
    color: #E6E66F !important;
}

.note_button:hover {
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.new_note_menu {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    /* Hide the browser's default radio button */
    /* Create a custom radio button */
    /* On mouse-over, add a grey background color */
    /* When the radio button is checked, add a blue background */
    /* Create the indicator (the dot/circle - hidden when not checked) */
    /* Show the indicator (dot/circle) when checked */
    /* Style the indicator (dot/circle) */
}

    .new_note_menu .menu_background {
        background: white;
        max-width: 500px;
        width: 100vw;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 30px;
        -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    }

    .new_note_menu .menu_exit_container {
        position: absolute;
        right: 7%;
        top: 7%;
        font-size: 25px;
        color: lightgrey;
        cursor: pointer;
    }

    .new_note_menu .menu_lable {
        margin-top: 15px;
        margin-bottom: 5px;
        display: block;
    }

    .new_note_menu .menu_input {
        width: 100%;
        padding: 10px;
    }

    .new_note_menu .menu_checkbox {
        margin-top: 10px;
    }

    .new_note_menu .menu_submit {
        background: #466EAB;
        color: white;
        border: 0px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
        width: 100%;
        margin-top: 25px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .new_note_menu .container {
        display: inline;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .new_note_menu .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    .new_note_menu .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }

    .new_note_menu .container:hover input ~ .checkmark {
        -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    }

    .new_note_menu .container input:checked ~ .checkmark {
        border: 2px solid rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    }

    .new_note_menu .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .new_note_menu .container input:checked ~ .checkmark:after {
        display: block;
    }

    .new_note_menu .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }

    .new_note_menu .checkmark-red {
        background: #D48B8B;
    }

    .new_note_menu .checkmark-blue {
        background: #8BA8D4;
    }

    .new_note_menu .checkmark-green {
        background: #8BD48D;
    }

    .new_note_menu .checkmark-yellow {
        background: #E6E66F;
    }

.hide {
    display: none;
}

@media only screen and (max-width: 1450px) {
    .public {
        display: inline-block !important;
        width: 100% !important;
    }

    .public_container {
        width: 100% !important;
        margin-bottom: 25px;
    }

    .margin-fix {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 1140px) {
    .navigation {
        display: none;
    }

    .navbar {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .main {
        width: 100vw;
        height: calc(100vh - 87px);
    }

    .login .main_container {
        display: inline-block;
        width: initial;
    }

    .login .logo {
        display: none;
        width: 0px;
        height: 0px;
    }

    .login .header_logo {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .navbar ul {
        background: white !important;
        margin-bottom: 0px !important;
    }

    .navbar li {
        padding-left: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }

    .navbar a {
        color: black !important;
    }

    .p-5 {
        padding: 1rem !important;
    }
}

@media only screen and (max-width: 560px) {
    .login .main_container {
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@media only screen and (max-height: 600px) {
    .circle {
        display: none;
    }

    .login_background {
        overflow-y: initial;
    }
}
/*# sourceMappingURL=main.css.map */
